<!-- Footer -->  

<footer class="footer-main">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h4>Library in The U.S.</h4>
					<ul>
						<li class="app-appstore"><a href="#">Congress Library</a></li>
						<li class="app-play"><a href="#">National Library</a></li>
						<li class="app-droid"><a href="#">Android Market</a></li>
						<li class="app-windows"><a href="#">Windows</a></li>
						<li class="app-chrome"><a href="#">Google Chrome Store</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>What's Kids Love?</h4>
					<ul>
						<li><a href="#">Disney World in Florida</a></li>
						<li><a href="#">Disney Land in California</a></li>
						<li><a href="#">Lego Lands</a></li>
						<li><a href="#">National Parks</a></li>
						<li><a href="#">Museums</a></li>
					</ul>
				</div>
				<div class="col-md-4">
					<h4>Schools around Us</h4>
					<ul>
						<li><a href="#">The Congressional School</a></li>
						<li><a href="#">Cantebury Woods ES</a></li>
						<li><a href="#">Frost Middle School</a></li>
						<li><a href="#">T.J. High School </a></li>
					</ul>
				</div>
			</div>
        </div>
        <hr class="small">
        <div class="text-muted text-center">&copy; Kristine Le 2018</div>
        
	</footer>

		  
	  