
@import '~sass/variables';
@import '~sass/mixins';

.header {
    font-size: 38px;
    font-weight: 700;
}

.logo {
    @extend .header;
    width: 100%;
    margin: 0px 0 0 0px;
    font-family: $base-font-family;
    color: $primary-color;
}

.header-title {
    @extend .header;
    color: #FF9721;
}

